extends ../layout

block content
  br
  br
  a.btn.btn-outline-secondary.form-control(href="#" onclock="HTMLtoPDF()") Save As PDF
  br
  hr
  #HTMLtoPDF
    each alarm, a in alarms
      -var villeVar =  alarm["location information"].match(/[A-Z]{3}-\d{2,4}/i) || alarm["alarm source"]
      -var villeVar2 =  alarm["location information"].match(/[A-Z]{3}-\d{2,4}_\w+/i) || alarm["alarm source"]
      -if(villeVar[0].toString() === site)
        h2  #{villeVar2[0]}
        h4  #{alarm['alarm id']}
        h4  #{alarm["name"]}
        hr
