extends ../layout

block content
  h1 Les données
  if data
    -var alarmid = []
    -var numAlarmId = []
    each d, i in data
      -if(d["alarm id"] !== "" && alarmid.indexOf(d["alarm id"])===-1)
        - alarmid.push(d["alarm id"])
        .jumbotron
          h4 Alarm ID : #{d["alarm id"]}
          each huaw, j in huawei
            - if(d["alarm source"].substring(0,4) == huaw["site"].substring(0,4) || d["location information"].match(/[A-Z]{3}-\d{4}/) == huaw["site"])
              p  Ville : #{d["location information"].match(/[A-Z]{3}-\d{4}/)}
              -break
          p
            | last occured :  #{d["last occurred (nt)"]}
    each alarm, i in alarmid
      -console.log(alarmid[i])
    -console.log("done \n")
