extends ../layout

block content
  h1 Selectionner le type du rapport
  select
	 option(value='Sites_HS') Sites HS
	 option(value='Secteurs_HS') Secteurs HS
	 option(value='') Mercedes
	 option(value='audi') Audi
