extends ../layout

block content
  form.form-signin(action='/siteshs/upload', method='post', enctype='multipart/form-data')

    div.empty250
    br
    input.form-control(type='file', name='file')
    br
    button.btn.btn-lg.btn-default.btn-block(type='submit') Envoyer
