doctype html
html(lang='en')
  head
    title Erreur 404
    // Meta tag Keywords
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    link(href='/css/style_404.css', rel='stylesheet', type='text/css', media='all')
    // online-fonts
    link(href='//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&subset=latin-ext', rel='stylesheet')
    // //online-fonts
  body
    .header
      h1 Page Non Trouvée.
    .w3-main
      .agile-info
        h3 PARDON
        h2
          | 4
          img(src='/images/confused.gif', alt='image')
          | 4
        a(href='/') Page d'Accueil
    .footer-w3l
      p
        | © 2018 gestionnaire d'erreurs. Tous les droits sont réservés | Conçu par
        a(href='http://fahdaddi.tk') Fahd ADDI
