extends layout

block content
  .bg
    div.empty250_2
      div.empty100
      .container
        .row
          .col-1
          .col-4
            a.btn.btn-outline-primary.form-control(href="/manage/classification") Mettre à jour le fichier de classification
          .col-2
          .col-4
            a.btn.btn-outline-primary.form-control(href="/manage/ajouter_site") Ajouter un site
    .container
      .row
        .col-3
          a.btn.btn-outline-secondary.form-control(href="/siteshs/upload") Sites HS
