doctype html
html
  header
    title #{title}
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src='/js/jquery.js')
    script(src='/js/jspdf.js')
    script(src='/js/functions.js')

  body
    block content
    footer-w3l.text-center
      p
        | © 2018 NOC. Tous les droits sont réservés | Conçu & développé par
        a(href='http://fahdaddi.tk') Fahd ADDI
