doctype html
html
  header
    title #{title}
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src='/js/xlsx.full.min.js')
    script(src='/js/convert.js')

  body
    .container
      block content
    footer
