extends ../layout

block content
  form.form-signin(action='/manage/ajouter_site', method='post')
    .empty25
    .container.text-center
      if villes
        each ville, vl in villes
          h6.text-center
            input(type='radio',name="ville",value=ville)
            | #{ville}
    .container
      label Nom du site :
    hr
    .row
      .col-1
        div.vl_left
      .col-10
        input.form-control(type='text', name='name_ville', placeholder='ex: ABC-1234, ZEG-2564...')
        br
        input.btn.btn-lg.btn-default.btn-block(type='submit',name="submit" , value="Ajouter")
      .col-1
        div.vl_right
    hr
